<head>
    
</head>
<body>
  <div class="blog">
    
    <div class="jumbotron blog-jumbotron">
      <div class="container">
        <br><br><br>
        <h1 class="jumbotron-header">The Panda Blog</h1>
        <h4 class="jumbotron-subheader">Sometimes we write. Sometimes it's other stuff</h4>        
      </div>
    </div>
    <br><br>


  <div class="row-fluid">
    <% @blogs.each do |blog| %>
    <div class="col-xs-offset-3 col-xs-6 blog-posts">
      <div class="icon">
        <div class="thumbnail">
        <%= image_tag blog.blog_photo.url(:thumb) %>
        </div>
        <div class="caption">
        <h2><%= link_to blog.title, blog%></h2>
        <p class="date"><%= blog.created_at.strftime("%B, %d, %Y") %></p>
        <p class="post-body"><%= truncate(blog.body, :length => 150)%></p><br><br>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div><!-- END BLOG PAGE BODY DIV -->
</body>