<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/pages.scss">
</head>
<body>
  <div class="about">
<<<<<<< HEAD
    <br><br><br><br><br><br>
    <h1 class="jumbotron-title">About Joshua</h1>
    <br><br><br><br><br>
    <p class="about-body-text">Lorem ipsum dolor sit amet, eu sit enim debitis accusata, 
    ei nec dico errem dictas. In pro tollit assentior. 
    Brunch leggings salvia, cred bicycle rights craft beer sartorial. Taxidermy occupy Godard synth scenester DIY selfies, roof party food truck umami XOXO 
    wolf wayfarers Etsy trust fund. Squid whatever gentrify, 
    swag bicycle rights listicle leggings hoodie 90's disrupt cardigan Truffaut Austin direct trade. Cornhole art party vinyl cold-pressed tote bag. Odd Future freegan Echo Park kale chips artisan, umami Etsy 
    fixie cliche listicle Thundercats. Semiotics scenester locavore irony stumptown, brunch mlkshk Carles chambray butcher mustache freegan tilde taxidermy Thundercats. Synth selvage hella chia banjo tofu sriracha, 
    food truck banh mi 90's Truffaut whatever meditation pop-up.</p>
    <p class="about-body-text">
    Vinyl literally Carles umami banh mi church-key, meh PBR wayfarers narwhal Truffaut before they sold out vegan YOLO. 
    Paleo cred tote bag American Apparel, YOLO mumblecore ennui DIY pop-up kale chips banh mi. Odd Future art party +1, 
    whatever pour-over messenger bag cliche. Meh church-key crucifix 8-bit, organic tofu retro butcher yr jean shorts 
    mustache try-hard. Chambray fanny pack cold-pressed fashion axe, wolf wayfarers letterpress occupy paleo cray quinoa 
    seitan DIY meh. Single-origin coffee sartorial skateboard fanny pack fingerstache church-key. Roof party artisan plaid, lumbersexual 
    Brooklyn mixtape shabby chic fap vinyl kitsch irony sustainable Neutra.</p>
    <p class="about-body-text">
    Raw denim skateboard put a bird on it distillery tousled. Tote bag Brooklyn fixie, semiotics health goth aesthetic 
    skateboard. Vinyl paleo locavore Wes Anderson. Fixie twee pork belly, beard food truck Pitchfork blog biodiesel. 
    Letterpress seitan ethical Blue Bottle, sriracha forage hella gentrify PBR cliche. Paleo Echo Park pork belly 
    wayfarers, 3 wolf moon taxidermy polaroid slow-carb post-ironic Schlitz roof party High Life swag. Synth skateboard 
    Odd Future before they sold out, pickled chia biodiesel pour-over tattooed fixie.</p>
=======
    <div id="about-background">
    <br><br><br><br><br><br>
    <h1 class="about-header-text"><b>This is the page that tells you about The Panda</b></h1>
    <h4 class= "about-header-text">Second Header Second Header Second Header</h4>
    <br><br><br><br><br>
    <p class="about-body-text">Humanity should be at the core of every decision we make. Otherwise, we are just making decisions, making things for the sake of making them. This means creating with empathy at the center of our decisions. 
    It means providing maximum utility for the people immediately and secondarily affected by our work. Who will see us? Who will interact with us? Whose lives could be improved by us? Those are the people whose lives we work tirelessly to improve. 
  	An easy way to gain attention in the world is by knowing and portraying incremental levels of skill, and being very proactive at projecting that marginal knowledge to the world. 
  	That’s not how we prefer to operate - Instead, we prefer to focus on filtering out the noise and only addressing the problem. 
  	<br>
  	The first and more important step in doing this, is to clearly and thoroughly articulate the problem at hand. 
  	If you cannot identify the problem with pinpoint accuracy, then you are already starting off down the wrong path. 
	<br>
	We are restricted by many constraints in our lives, and that makes it imperative that we are stepping as effectively as possible across the stones to the other side of the water. Sure we could step on all of the stones on our journey to validate our agility, but we prefer to focus on making it to the other side so that we can start building from there. 
	Born in an unfinished basement in one of the least glamorous cities in the U.S., the Obtuse Panda is not here to kid you. We aren’t here to use business phrases that amount to little more than a stock photo. We’re here because of you. The same way you’re in a position where you’ve thought to yourself, “I really need to solve this problem”, we’ve also been put in that situation. The foundation of The Obtuse Panda is a relentless curiosity when it comes to solving these problems. Is this a problem we’ve seen before? Is this a problem that we have a particular leverage on? Is this something our network has a natural tap into? 
	<br>
	Our work style says a lot about every other component of our lives. Many problems have solutions that we don’t immediately like, or that we don’t view as solutions at all. Often times the solution we’re looking for can actually be found by tweaking the problem we are trying to solve to more thoroughly understand and address it. It is this kind of thinking that separates The Obtuse Panda Collective We want to hear your problem, and more importantly we want to solve your problem. To do that as effectively as possible, we find it imperative to have the clearest, most concise plan of attack as possible. We feel that when you approach problems like this, then you inherently provide the most stable solutions possible. </p>
    <br><br>

    <h2 id="meet-the-cupboard">Meet The Cupboard</h2>
    <br><br>
    </div> <!-- End White Overlay-->
    <div class="row" id="team-pics">
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img class="team-photo"src="http://res.cloudinary.com/lptbt4ovx/image/upload/c_scale,w_260/v1459048794/kubi_pic_jkntwi.jpg" alt="...">
          <h5 id="bio">Josh</h5>
        </a>
      </div>
      <div class="col-xs-6 col-md-4">
        <a href="#" class="thumbnail">
          <img class="team-photo"src="http://res.cloudinary.com/lptbt4ovx/image/upload/c_scale,h_260,w_260/v1450510714/IMG_0321-compressor_ymzeey.jpg" alt="...">
          <h5 id="bio">Coty</h5>
        </a>
      </div>
      <div class="col-xs-6 col-md-4 thumb-border">
        <a href="#" class="thumbnail">
          <img class="team-photo"src="http://res.cloudinary.com/lptbt4ovx/image/upload/c_scale,h_260,w_260/v1459048944/tig_vxmmpg.jpg" alt="...">
          <h5 id="bio">Tig</h5>
        </a>
      </div>       
    </div>
    <div id="meet-the-cupboard">
      <h1>© THE OBTUSE PANDA COLLECTIVE 2016</h4>
    </div>
>>>>>>> development
</div> <!-- END ABOUT PAGE BODY DIV -->  
</body>
</html>