<!DOCTYPE html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">  

</head>
<body>
<!-- END NAVIGATION -->
    <div class="jumbotron portfolio-jumbotron text-center">
        <div class="container">
            <br><br><br>
            <h1 class="jumbotron-header">Obtuse Creations</h1>
            <h4 class="jumbotron-subheader">The Obtuse Panda Collective is centered around the idea of crafting quality work. Whether it's on film, the web or anywhere else, our work speaks for itself.</h4>
            <br><br><br><br><br><br><br><br><br><br>
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#videos">Videos</a></li>
              <li><a data-toggle="pill" href="#web">Web</a></li>
              <li><a data-toggle="pill" href="#podcast">Podcasts</a></li>
            </ul>
        </div>
    </div> 

    
    
    <div class="tab-content">
     <div id="videos" class="tab-pane active">
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139868/Snip20160408_5_kjakpa.png" />  
          <div class="mask"> 
            <a href="/scenic_weather" class="info" title="Full Image">Scenic Weather</a>  
          </div>  
        </div> 
        
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139866/Snip20160408_6_snnzzx.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>         

        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139866/Snip20160408_7_kzexqn.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>  
        
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139865/Snip20160408_8_wd97tl.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>         
    </div>      
      
      <div id="web" class="tab-pane">
        <h3>Web</h3>
        <p>We make stuff on the web, too.</p>
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139868/Snip20160408_5_kjakpa.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div> 
        
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139866/Snip20160408_6_snnzzx.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>         

        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139866/Snip20160408_7_kzexqn.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>  
        
        <div class="view second-effect">  
          <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139865/Snip20160408_8_wd97tl.png" />  
          <div class="mask">  
            <a href="#" class="info" title="Full Image"><h1>Header</h1></a>  
          </div>  
        </div>             
      </div>
      
      
      <div id="podcast" class="tab-pane">
        <h3>The Obtuse Panda Podcast is coming soon.</h3>
      </div>
    </div>
    
<br><br>
</body>
</html>