<!DOCTYPE html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">  

</head>
<body>
   
<!-- END NAVIGATION -->
    
    <div class="jumbotron portfolio-jumbotron text-center">
        <div class="container">
            <br><br><br>
            <h1 class="quicksand">Joshua's Videos</h1>
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="pill" href="#videos">Videos</a></li>
              <li><a data-toggle="pill" href="#web">Web</a></li>
              <li><a data-toggle="pill" href="#podcast">Podcasts</a></li>
            </ul>
        </div>
    </div> 
    
    <!--<% @projects.each do |project| %>-->
    <!--<div class="row">-->
    <!--    <div class="col-xs-6 col-md-3">-->
    <!--    <p><%= project.title %></p>-->
    <!--    <p><%= project.description %></p>-->
    <!--    </div>-->
    <!--</div>-->
    <!--<% end %>   -->
    
    
    <div class="tab-content">
     <div id="videos" class="tab-pane active">
        <h3><a href="/projects/scenic-weather">VIDEOS</a></h3>
        <div class="row">
          <div class="col-xs-8 col-md-4">
            <a href="/projects/scenic-weather" class="thumbnail">
              <img src="http://res.cloudinary.com/lptbt4ovx/image/upload/v1460139868/Snip20160408_5_kjakpa.png" alt="...">
            </a>
          </div>        
          </div>
    </div>      
      
      <div id="web" class="tab-pane">
        <h3>WEB</h3>
        <p>Some content in menu 1.</p>
      </div>
      <div id="podcast" class="tab-pane">
        <h3>PODCAST</h3>
        <p>Some content in menu 2.</p>
      </div>
    </div>
    

</body>
</html>
